* {
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 100%;
    position: relative;
    z-index: 100;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 130px;
    width: 200px;
    margin-left: 20px;
    margin-right: 90px;
}

.header .nav-links li{
    display: inline-block;
    position: relative;
    padding: 0 18px;
    transition: all 0.5s;
}

.header .nav-links li:hover{
    transform: scale(1.3);
}

.header .nav-links a{
    font-size: 18px;
    color: #0c0c0b;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #d8b713;
}

.header .nav-links li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 135px;
    box-shadow: 16px 16px 16px #d8b71336;
    z-index: 1000;
    transition: all 0.3s;
    padding: 10px 0;

}

.header .nav-links li .dropdown-content a {
    color: #0c0c0c;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    
}

.header .nav-links li .dropdown-content a:hover{
    background-color: #ddd; 
    transform: scale(1.0); 
    transition: all 0.5s; 
}

.header .nav-links li:hover .dropdown-content{
    display: block;
}

.header .btn button{
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    margin-right: 50px;
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
}

.header .btn button:hover{
    transform: scale(1.2);
    color: #d8b713;
}

.hero {
    overflow-x: hidden;
    overflow-y: hidden;
}

section.fondo {
    background-image: url(img/fondo3.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 2rem;
}

.title {
    font-size: 50px;
    z-index: 100;
    color: #ffffff;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 4rem;
}